.column {
	display: inline-block;
	margin: 5px;
}

#form {
	display: flex;
	height: auto;
	margin: 0;
}

#buttons {
	text-align: center;
	align-self: center;
}

#tap_parent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#tap {
	font-size: large;
	width: 6ch;
}

#notes_div {
	display: flex;
	flex-direction: column;
}

#notes {
	flex-grow: 1;
}
