#form {
  display: inline-flex;
}

#form > * {
  margin: 5px;
}

input {
  width: 100px;
}

#buttons {
  text-align: center;
}

#tap_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#notes_div {
  display: flex;
  flex-direction: column;
}

#notes {
  flex-grow: 1;
}

#profile_parent {
  display: flex;
}
